.diferenciais {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
   
}

.diferenciais__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.diferenciais__item {
    max-width: 350px;
    box-sizing: border-box;
    padding: 2rem 0 2rem 5rem;

    background-repeat: no-repeat;
    background-position: top 1.25rem left 2rem;
}

.diferenciais__item:nth-child(1){
background-image: url("../img/icone-relogio.png");
}


.diferenciais__item:nth-child(2){
background-image: url("../img/icone-dinheiro.png");

}


.diferenciais__item:nth-child(3){
background-image: url("../img/icone-quimica.png");
}

@media screen and (min-width: 1050px) {
    
    .diferenciais{
        background-color: var(--cinza-claro);
    }
    .diferenciais__item:nth-child(3){
        background-image: url("../img/icone-quimica.png");
        align-self: flex-end;
        }

    .diferenciais__item:nth-child(2){
        background-image: url("../img/icone-dinheiro.png");
        order:2;
        }

    .diferenciais__lista{
        width:auto;
        height: 350px;
        justify-content: space-around;
        
    }

    
    
}




.item__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.item__texto {
    line-height: normal;
}
